# ch 2
ch-2-motion-along-a-straight-line.aux
ch-2-motion-along-a-straight-line.fdb_latexmk
ch-2-motion-along-a-straight-line.fls
ch-2-motion-along-a-straight-line.log
ch-2-motion-along-a-straight-line.synctex.gz

# ch 3
ch-3-vectors.aux
ch-3-vectors.fdb_latexmk
ch-3-vectors.fls
ch-3-vectors.log
ch-3-vectors.synctex.gz

# ch 4
ch-4-motion-in-two-and-three-dimentions.aux
ch-4-motion-in-two-and-three-dimentions.fdb_latexmk
ch-4-motion-in-two-and-three-dimentions.fls
ch-4-motion-in-two-and-three-dimentions.log
ch-4-motion-in-two-and-three-dimentions.synctex.gz

