# master compendium
master-compendium.aux
master-compendium.dvi
master-compendium.fdb_latexmk
master-compendium.fls
master-compendium.log
master-compendium.out
master-compendium.synctex.gz
master-compendium.toc